<div class="blocMiniServices">
    <div class="titre">Les services les plus demandés</div>
    <div class="content">
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}">
            <img src="{{BASETHEME}}/blocks/services/img/icone-contact.png" class="img img-responsive">
            Contact</a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}">
            <img src="{{BASETHEME}}/blocks/services/img/icone-info.png" class="img img-responsive">
            Publication</a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}">
            <img src="{{BASETHEME}}/blocks/services/img/icone-agenda.png" class="img img-responsive">
            agenda</a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}">
            <img src="{{BASETHEME}}/blocks/services/img/icone-contact.png" class="img img-responsive">
            Contact</a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}">
                <img src="{{BASETHEME}}/blocks/services/img/icone-info.png" class="img img-responsive">
                Photo/vidéo
            </a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}">
            <img src="{{BASETHEME}}/blocks/services/img/icone-plan.png" class="img img-responsive">
            plan</a>
        </div>
    </div>
    <div class="triangle"></div>
</div>
            