<section class="container-article col-xs-24 onecolnotxt">
    <div class="col-xs-24">
        {% if (arti.titre and arti.titre!='' and arti.showTitle == 1) %}
            <div class="titrePageActu"><span>{{arti.titre}}</span></div><br />
        {% endif %}
        
        {% if arti.image %}
            <div class="col-sm-24 col-md-8 hidden-xs">
                <a class="fancyboxme" href="{{BASE_PATH_UPLOAD_URL}}/article/{{arti.image}}">
                    <img class="img img-fullwidth"
                         src="{{BASE_PATH_UPLOAD_URL}}/article/300x300/{{arti.image}}">
                    <div class="triangle-picture"></div>
                </a>
                <p class='legende'>{{arti.legende}}</p>
            </div>
       {% elseif (arti.idCaroussel and arti.contentCarou|length >0) %}
            {% if arti.typeCaroussel=='images' %}
                {% include '/modules/caroussel/layout/innerArticle.twig'  with {carou:arti.contentCarou,repimg:arti.urlCarou} %}
            {% elseif arti.typeCaroussel=='documents' %}
                {% include '/modules/caroussel/layout/innerArticleDocs.twig'  with {carou:arti.contentCarou,repimg:arti.urlCarou} %}
            {% endif %}
        {% endif %}
    </div>
</section>
{% if arti.showPointille==1 %} <div class="pointilleRose"></div> {% endif %}