<div class="blocMiniServices">
    <div class="titre">Les services les plus demandés</div>
    <div class="content">
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}nous-contacter.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-contact.png" class="img">
            Contact</a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}actualites.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-info.png" class="img">
            Actualités</a>
        </div>
        
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}demarches-administratives.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-demarches.png" class="img">
            Démarches</a>
        </div>
            <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}agenda.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-agenda.png" class="img">
            agenda</a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}marches-publics.html">
                <img src="{{BASETHEME}}/blocks/services/img/icone-marchepublic.png" class="img">
            Marché Public
            </a>
        </div>
        <div class="col-xs-24 tuile">
            <a href="{{BASEURL}}plan.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-plan.png" class="img">
            plan</a>
        </div>
        <div class="col-xs-24 tuile tuilebottom">
            <a href="{{BASEURL}}projets.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-realisation.png" class="img">
            Projets</a>
        </div>
        <div class="col-xs-24 tuile tuilebottom">
            <a href="{{BASEURL}}plan-local-durbanisme.html">
            <img src="{{BASETHEME}}/blocks/services/img/plan-urbanisation.png" class="img">
            PLU</a>
        </div>
    </div>
    <div class="triangle"></div>
</div>
            