<div class="blocServices">
    <div class="titre">Les services les plus demandés :</div>
    <div class="content">
        <div class="col-xs-3 col-sm-8 tuile">
            <a href="{{BASEURL}}nous-contacter.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-contact.png" class="img">
            <span>Contact</span></a>
        </div>
        <div class="col-xs-3 col-sm-8 tuile">
            <a href="{{BASEURL}}actualites.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-info.png" class="img">
            <span>Actualités</span></a>
        </div>
        
        <div class="col-xs-3 col-sm-8 tuile">
            <a href="{{BASEURL}}demarches-administratives.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-demarches.png" class="img">
            <span>Démarches</span></a>
        </div>
            <div class="col-xs-3 col-sm-8 tuile">
            <a href="{{BASEURL}}agenda.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-agenda.png" class="img">
            <span>agenda</span></a>
        </div>
        <div class="col-xs-3 col-sm-8 tuile">
            <a href="{{BASEURL}}marches-publics.html">
                <img src="{{BASETHEME}}/blocks/services/img/icone-marchepublic.png" class="img">
            <span>Marché Public</span>
            </a>
        </div>
        <div class="col-xs-3 col-sm-8 tuile">
            <a href="{{BASEURL}}plan.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-plan.png" class="img">
            plan</span></a>
        </div>
        <div class="col-xs-3 col-sm-8 tuile tuilebottom">
            <a href="{{BASEURL}}projets.html">
            <img src="{{BASETHEME}}/blocks/services/img/icone-realisation.png" class="img">
            <span>Projets</span></a>
        </div>
        <div class="col-xs-3 col-sm-8 tuile tuilebottom">
            <a href="{{BASEURL}}plan-local-durbanisme.html">
            <img src="{{BASETHEME}}/blocks/services/img/plan-urbanisation.png" class="img">
            <span>plan local d'urbanisme</span></a>
        </div>
        <div class="hidden-xs col-sm-8 tuile tuilebottom"></div>
    </div>
    <div class="triangle"></div>
</div>
            