<div class="blocCoordonnesTR">
    <p class="titre yellow">Nos Coordonnées</p>
</div>
<div class="blocCoordonnesTRcontent">
    <p>{{coordonnees.nom}}</p>
    <p>{{coordonnees.adresse}}</p>
    <p>{{coordonnees.cp}} {{coordonnees.ville}}</p>
    <p class="yellow">Tél : {{coordonnees.tel}}</p>
    <p class="yellow">Fax : {{coordonnees.fax}}</p>
    <p class="brown"><a href="mailto:{{coordonnees.mail}}">{{coordonnees.mail}}</a></p>
    <p class="contact"><a href="{{BASEURL}}nous-contacter.html">Nous contacter</a></p>
</div>
<div class="triangle-menu-right"></div>