{% extends "base.twig" %}
{% block title %}{{titrePage}}{% endblock %}
{% block description %}{{descriptionPage}}{% endblock %}
{% block keywords %}{{motsclefsPage}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet prefetch' href="{{BASETHEME}}/css/toolbar.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/css/home.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/modules/blocdownload/css/blocdownload.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/blocks/coordonnees/css/coordonnees.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/blocks/services/css/services.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/blocks/phototheque/css/phototheque.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/modules/actualite/css/actualite.css" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet prefetch' href="{{BASEURL}}libs/fancybox/source/jquery.fancybox.css" type="text/css"/>
    <link rel='stylesheet prefetch' href="{{BASEURL}}libs/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css"/>
    <link rel='stylesheet prefetch' href="{{BASEURL}}libs/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css"/>
     
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{BASEURL}}libs/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>   
    <script type="text/javascript" src="{{BASEURL}}libs/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>   
    <script type="text/javascript" src="{{BASEURL}}libs/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>   
    <script type="text/javascript" src="{{BASEURL}}libs/fancybox/source/helpers/jquery.fancybox-media.js"></script>   
    <script type="text/javascript" src="{{BASEURL}}libs/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>   
   
{% endblock %}
    
{% block body %}
    <div class="blocHeader">
        <div class="row">
            <div class="decotopsite"></div>
        </div>
        <div class="row rowlogoflash">
            <div class="col-xs-24 col-sm-24 col-md-22 col-md-offset-1">
                <!-- LOGO -->
                <div class="col-xs-24 col-sm-6">
                    <a href="{{BASEURL}}index.html"><img class="img img-responsive" src="{{BASEIMG}}LOGO-BUZ.jpg"></a>
                </div>
                <!-- FlashInfo -->
                {% if flashs|length>0 %}
                    <div class="hidden-xs col-sm-12 col-md-9">
                        <div class="panel panel-flashinfo">
                            <div class="panel-heading">Flash INFO</div>
                            <div class='panel-body'>
                                <div class="owl-carousel" id="owl-flashinfo">
                                    {% for flash in flashs %}
                                        <p class="contentFlashInfo">
                                            {{flash.resume}}
                                        </p>
                                    {% endfor %}
                                </div>
                                <a class="readmore btn-newsletter" role='button'>M'inscrire aux informations du flash info</a>
                            </div>

                        </div>
                    </div>
                {% endif %}
                <!-- Recherche Et Sous Menu -->
                <div class="hidden-xs col-sm-6 blocrecherche {% if flashs|length>0 %}col-md-offset-3 {% else %} col-md-offset-12{% endif %}">
                    <div class="col-xs-24">
                        <form method="POST" action="{{BASEURL}}recherche.html" class="pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Rechercher ..." aria-describedby="basic-addon-loupe" name="rechercheall">
                                <span class="input-group-addon" id="basic-addon-loupe"><img src="{{BASEIMG}}loupe-seul.png"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>        
        </div>        

        <!-- menu -->
        {% include 'global/mainMenu.twig' %}


        <div class="row hidden-xs">
            <div id="header-slider">
                <div role="listbox">
                    <div class="item active">
                        <img src="{{BASEURL}}themes/default/img/bannieres/banniere-actualite.jpg" class="img img-responsive">
                    </div>  
                </div>
            </div>
            {% include 'global/breadcrumbActu.twig' %}
        </div>
    </div>

    <div class="bloc-maincontainer container-article">
        <div class="row actualites-center">
            <!-- COL_MIDDLE-->
            <div class="col-xs-24 col-sm-24 col-md-22 nopadding">
                {% if actualite|length>0 %}
                    {% include '/modules/actualite/layout/displayCenterColumn.twig' %}
                {% endif %}
            </div>
            <!-- COL_RIGHT-->
            <div class="hidden-xs hidden-sm col-md-2 nopadding noPrint">
                <!-- COL_RIGHT_ONE -->
                {% include '/blocks/services/layout/displayMiniInnerColRight.twig' %}
            </div>
        </div>
        {% include 'global/footer.twig' %}    
    </div>
    
{% endblock %}

