{% extends "base.twig" %}
{% block title %}Notre Photothèque - {{Contenu[0].NomAlbum}} - Ville de Buzançais{% endblock %}
{% block description %}Accéder au site officiel de la ville de Buzançais et découvrez ses infrastructures, ses services, son patrimoine et son actualité{% endblock %}
{% block keywords %}buzançais,ville de 
buzançais,mairie,buzancais, buzancays,36,indre,région centre, 
présentation,information,actualités,services,découverte,tourisme,patrimoine,culture,évènement,pêche,étang,visiter,camping,hôtels,restaurants,entreprises,associations,conseilmunicipal,services
 communaux,action sociale,loisirs,vie associative,vie 
pratique,randonnée,séjours,hébergement{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{BASETHEME}}/css/phototheque.css" rel="stylesheet prefetch" type="text/css"/>
    <link rel='stylesheet prefetch' href="{{BASETHEME}}/css/toolbar.css" rel="stylesheet" type="text/css"/>
    <link href="{{BASETHEME}}/modules/blocdownload/css/blocdownload.css" rel="stylesheet prefetch" type="text/css"/>
    <link href="{{BASETHEME}}/blocks/coordonnees/css/coordonnees.css" rel="stylesheet prefetch" type="text/css"/>
    <link href="{{BASETHEME}}/blocks/services/css/services.css" rel="stylesheet prefetch" type="text/css"/>
    <link href="{{BASETHEME}}/blocks/phototheque/css/phototheque.css" rel="stylesheet prefetch" type="text/css"/>
    <link href="{{BASEURL}}libs/unitegallery/css/unite-gallery.css" rel="stylesheet prefetch" type="text/css"/>
    <link href="{{BASEURL}}libs/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet prefetch" type="text/css"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}  
    <script type="text/javascript" src="{{BASEURL}}libs/unitegallery/js/unitegallery.min.js"></script>   
    <script type="text/javascript" src="{{BASEURL}}libs/unitegallery/themes/grid/ug-theme-grid.js"></script> 
    <script type="text/javascript" src="{{BASEURL}}public/js/unitegallery.js"></script>
{% endblock %}
    
{% block body %}
    <div class="blocHeader">
        <div class="row">
            <div class="decotopsite"></div>
        </div>
        <div class="row rowlogoflash">
            <div class="col-xs-24 col-sm-24 col-md-22 col-md-offset-1">
                <!-- LOGO -->
                <div class="col-xs-24 col-sm-6">
                    <a href="{{BASEURL}}index.html"><img class="img img-responsive" src="{{BASEIMG}}LOGO-BUZ.jpg"></a>
                </div>
                <!-- FlashInfo -->
                {% if flashs|length>0 %}
                    <div class="hidden-xs col-sm-12 col-md-9">
                        <div class="panel panel-flashinfo">
                            <div class="panel-heading">Flash INFO</div>
                            <div class='panel-body'>
                                <div class="owl-carousel" id="owl-flashinfo">
                                    {% for flash in flashs %}
                                        <p class="contentFlashInfo">
                                            {{flash.resume}}
                                        </p>
                                    {% endfor %}
                                </div>
                                <a class="readmore btn-newsletter" role='button'>M'inscrire aux informations du flash info</a>
                            </div>

                        </div>
                    </div>
                {% endif %}
                <!-- Recherche Et Sous Menu -->
                <div class="hidden-xs col-sm-6 blocrecherche {% if flashs|length>0 %}col-md-offset-3 {% else %} col-md-offset-12{% endif %}">
                    <div class="col-xs-24">
                        <form method="POST" action="{{BASEURL}}recherche.html" class="pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Rechercher ..." aria-describedby="basic-addon-loupe" name="rechercheall">
                                <span class="input-group-addon" id="basic-addon-loupe"><img src="{{BASEIMG}}loupe-seul.png"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>        
        </div>        

        <!-- menu -->
        {% include 'global/mainMenu.twig' %}


        <div class="row hidden-xs">
            <div id="header-slider">
                <div role="listbox">
                    <div class="item active">
                        <img src="{{BASEURL}}themes/default/img/bannieres/banniere-phototheque.jpg" class="img img-responsive">
                    </div>  
                </div>
            </div>
            {% include 'global/breadcrumbArticles.twig' with{titleBread:"Photothèque"} %}
        </div>
    </div>

    <div class="bloc-maincontainer contentPage actualites">
        <div class="row">
            <div class="colmiddle col-xs-24 col-sm-24 col-md-22">
                <div class="col-xs-24 col-sm-24 col-md-18 nopadding">
                    <div class="innerArticle">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="{{BASEIMG}}icone-photo.png">
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">
                                    Notre Photothèque - {{Contenu[0].NomAlbum}}
                                </h2>
                                <div class="linebottomcat"></div>
                            </div>
                        </div>
                        {% if Contenu|length>0 %}
                                <div id="gallery" style="display:none;">
                                    {% for i in Contenu %}
                                        <img 
                                            data-image="{{ BASE_PATH_UPLOAD_URL~'/'~i.rep~'/'~i.filename}}"
                                            data-description="{{i.nom}}"
                                            alt="{{i.nom}}" 
                                            src="{{ BASE_PATH_UPLOAD_URL~'/'~i.rep~'/minis/'~i.filename}}">

                                    {% endfor %}
                                </div>
                            {% endif %}
                    </div>
                    {% if modules['BOTTOM_PAGE'] %}
                        {% for carou in modules['BOTTOM_PAGE'] %}
                            {% if carou.type=='caroussel' %}
                                {% include '/modules/caroussel/layout/displayBottomPage.twig' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="col-xs-24 hidden-sm col-md-6 nopadding noPrint col-right-one">
                    <!-- COL_RIGHT_ONE -->
                    
                    {% if Categories|length>0 %}
                        <ul class="list-group">
                        {% for c in Categories %}
                            <li class="list-group-item{% if catPhotos==c.id %} active{% endif %}">
                                <a data-toggle="collapse" 
                                 aria-expanded="{% if catPhotos==c.id %}true{% else %}false{% endif %}" 
                                 href="#bloc-{{c.id}}"
                                 aria-controls="bloc-{{c.id}}"
                                 >{{c.Nom}}</a></li>
                           
                            {% if c.albums|length>0 %}
                                <ul id='bloc-{{c.id}}' class='innerAlbum collapse {% if catPhotos==c.id %}in{% endif %}'>
                                {% for a in c.albums %}
                                    <li class="{% if album==a.NomAlbum %}active{% endif %}">
                                        <a href="{{BASEURL}}phototheque/{{c.id}}/{{a.nomclean}}">{{a.NomAlbum}}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% else %}
                        <br /><br />
                        <center><b>Aucune catégorie de photos n'a été publiée pour le moment.</b></center><br /><br /> <hr />
                    {% endif %}
                    <!-- COL_RIGHT_TWO-->
                    {% if modules['COL_RIGHT_TWO'] %}
                        {% for m in modules['COL_RIGHT_TWO'] %}
                            {% if m.type=='blocdownload' %}
                                {% include '/modules/blocdownload/layout/displayRightColumn.twig' %}
                            {% elseif m.type=='customcontent' %}
                                {{m.contenuHTML |raw }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 nopadding noPrint">
                <!-- COL_RIGHT_ONE -->
                {% include '/blocks/services/layout/displayMiniInnerColRight.twig' %}
            </div>
        </div>
    {% include 'global/footer.twig' %}    
    </div>
    
{% endblock %}