<div class="blocCoordonnesTR">
    <div class="content">
        <p class="titre yellow">Nos Coordonnées</p>
        <p>{{coordonnees.nom}}</p>
        <p>{{coordonnees.adresse}}</p>
        <p>{{coordonnees.cp}} {{coordonnees.ville}}</p>
        <p class="yellow">Tél : {{coordonnees.tel}}</p>
        <p class="yellow">Fax : {{coordonnees.fax}}</p>
        <p class="brown"><a href="mailto:{{coordonnees.mail}}">{{coordonnees.mail}}</a></p>
        <p class="contact"><a href="{{BASEURL}}contact">Nous contacter</a></p>
    </div>
</div>